<div class="global">
  <h1 class="title">Global Insights</h1>
  
  <div class="kpis-group">
    <div class="kpi">
      <div class="value">
        {{ globalMinutesWatched | thousandSuffix: 2 }}
      </div>
      <label>Minutes watched</label>
    </div>
    <div class="kpi">
      <div class="value">
        {{ globalAirtimeMinutes | thousandSuffix: 2 }}
      </div>
      <label>Airtime minutes</label>
    </div>
    <div class="kpi">
      <div class="value">
        {{ globalAverageViewers | thousandSuffix: 2 }}
      </div>
      <label>Average viewers</label>
    </div>
  </div>

  <h4>Want to go in more detail?</h4>

  <div class="selector">
    <label>Select your focus: </label>
    <select (change)="selectOption($event.target.value)">
      <option value="game">Game</option>
      <option value="user">User</option>
      <option value="platform">Platform</option>
    </select>
  </div>

  <div class="chart-group">
    <ng-container #outlet></ng-container>
  </div>
</div>


<ng-template #content>
  <div class="chart">
    <p>Total Minutes watched</p>
    <bar-chart [chartId]="'chart1'"
              [isHorizontal]="true"
              [isSorted]="true" 
              [data]="detailData" 
              [category]="category"
              [value]="'minutes_watched'">
    </bar-chart>
  </div>
  <div class="chart">
    <p>Total Airtime minutes</p>
    <bar-chart [chartId]="'chart2'"
              [isHorizontal]="true"
              [isSorted]="true"  
              [data]="detailData"
              [category]="category" 
              [value]="'airtime_minutes'" >
    </bar-chart>
  </div>
</ng-template>

