<div class="global">
  <h1 class="title">Global Insights</h1>
  
  <div class="kpis-group">
    <kpi [title]="'Minutes watched'" [value]="globalMinutesWatched"></kpi>
    <kpi [title]="'Airtime minutes'" [value]="globalAirtimeMinutes"></kpi>
    <kpi [title]="'Average viewers'" [value]="globalAverageViewers"></kpi>
  </div>

  <h4>Want to go in more detail?</h4>

  <div class="selector">
    <label>Select your focus: </label>
    <select (change)="selectOption($event.target.value)">
      <option value="game">Game</option>
      <option value="user">User</option>
      <option value="platform">Platform</option>
    </select>
  </div>

  <!-- Work around, charts don't update the data with Angular lifecycles? -->
  <div class="chart-group">
    <ng-container #outlet></ng-container>
  </div>
</div>


<ng-template #content>
  <div class="chart">
    <p>Total Minutes watched</p>
    <bar-chart [chartId]="'global1'"
              [isHorizontal]="true"
              [isSorted]="true" 
              [data]="detailData" 
              [category]="category"
              [value]="'minutes_watched'">
    </bar-chart>
  </div>
  <div class="chart">
    <p>Total Airtime minutes</p>
    <bar-chart [chartId]="'global2'"
              [isHorizontal]="true"
              [isSorted]="true"  
              [data]="detailData"
              [category]="category" 
              [value]="'airtime_minutes'" >
    </bar-chart>
  </div>
</ng-template>

