<div class="daily">
  <h1 class="title">Day by Day Insights</h1>

  <div class="chart-group">
    <div class="chart">
      <p>Total Minutes watched</p>
      <bar-chart [chartId]="'daily1'" 
                [isHorizontal]="false"
                [isSorted]="false"
                [data]="detailData" 
                [category]="category" 
                [value]="'minutes_watched'">
      </bar-chart>
    </div>
    <div class="chart">
      <p>Total Airtime minutes</p>
      <bar-chart [chartId]="'daily2'"
                [isHorizontal]="false" 
                [isSorted]="false"
                [data]="detailData" 
                [category]="category" 
                [value]="'airtime_minutes'">
      </bar-chart>
    </div>
  </div>

  <p>Now, try some filtering!</p>

  <div class="selector">
    <label>Select a day: </label>
    <select (change)="selectDay($event.target.value)">
      <option *ngFor="let date of dates" value="{{ date }}">{{ date }}</option>
    </select>
  </div>

  <div class="selector">
    <label>Select a user: </label>
    <select (change)="selectUser($event.target.value)">
      <option *ngFor="let user of users" value="{{ user }}">{{ user }}</option>
    </select>
  </div>

  <p>Primary game: {{ primaryGame }}</p>
  <div class="kpis-group">
    <kpi [title]="'Minutes watched'" [value]="dailyMinutesWatched"></kpi>
    <kpi [title]="'Airtime minutes'" [value]="dailyAirtimeMinutes"></kpi>
  </div>
  <div class="kpis-group">
    <kpi [title]="'Average viewers'" [value]="dailyAverageViewers"></kpi>
    <kpi [title]="'Peak viewers'" [value]="dailyPeakViewers"></kpi>
  </div>

</div>

