<div class="daily">
  <h1 class="title">Day by Day Insights</h1>

  <div class="chart">
    Bar chart with minutes_watched, airtime_minutes
  </div>

  <p>Now, try some filtering!</p>

  <div class="selector">
    <label>Select a day: </label>
    <select>
      <option value="3">2020-08-03</option>
      <option value="4">2020-08-04</option>
      <option value="5">2020-08-05</option>
      <option value="6">2020-08-06</option>
      <option value="7">2020-08-07</option>
      <option value="8">2020-08-08</option>
      <option value="9">2020-08-09</option>
    </select>
  </div>

  <div class="chart-group">
    <div class="chart">
      <p>Which user has the most average viewers the day selected?</p>
      Pie chart with average viewers by USER
    </div>

    <div class="chart">
      <p>Which platform has the most average viewers the day selected?</p>
      Pie chart with average viewers by PLATFORM (sum all average of each user)
    </div>
  </div>

</div>

