.toolbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  height: 100%;
  width: 100%;

  margin-top: 10vh; // size of the toolbar

  .header {
    height: 80vh;
  }

  .analytics {
    margin-left: 10vw;
    margin-right: 10vw;

    .section {
      margin-top: 10vh;
    }
  }

  .footer {
    margin-top: 10vh;
  }

}
